<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/files/css/poole.css">
  <link rel="stylesheet" href="/files/css/syntax.css">
  <link rel="stylesheet" href="/files/css/lanyon.css">
  <link rel="stylesheet" href="/files/css/customization.css">
  <link rel="stylesheet" href="/files/css/fonts.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i" rel="stylesheet"> 
  <!-- <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic' rel='stylesheet' type='text/css'> -->
  <!-- <script src="https://use.fontawesome.com/f4aea2a0b5.js"></script> -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/files/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/files/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
