@font-face {
  src: url('/files/fonts/RoslindaleVariable.woff2') format('woff2-variations');
  src: url('/files/fonts/RoslindaleVariable.woff2') format('woff2') tech('variations');
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('/files/fonts/WarblerVariable.woff2') format('woff2-variations');
  src: url('/files/fonts/WarblerVariable.woff2) format('woff2') tech('variations');
  font-family: 'Warbler Variable';
  font-style: normal;
  font-weight: normal;
}
